@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import "tailwindcss";

:root {
  --dark-color: #748daea9;
  --light-color: #FFEAEA;
  --accent-color: #9ECAD6;
}

.font {
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: var(--light-color);
}

#main {
  background-color: var(--dark-color);
}

.title {
  font-size: 1.5rem;
}

.button {
  background-color: var(--accent-color);
  text-decoration: none;
}

.interactable {
  opacity: 1;
}

.not-interactable {
  opacity: 0.75;
}

.button .main-text {
  font-size: 1.5rem;
}

.button .subtext {
  font-size: 1.25rem;
}

body {
  background-image: url(./img/background.svg);
  background-size: cover;
  background-position: center;
}

.send {
  width: 50px;
  height: 50px;
}

.camera {
  width: 40px;
  height: 40px;
}

.gallery {
  width: 40px;
  height: 40px;
}